In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df_game = pd.read_excel(r"C:\Users\Acer\Desktop\uscensusbureau-big-game-census-data-visualization\Big Game Census data.xlsx")

In [7]:
df_game.head()

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,...,Full GEOID,Latitude (player birthplace),Longitude (player birthplace),Number from City,Number of Records,American FactFinder Link for more Census data points,Quickfacts Link,State Data Link,Source (Population States 2017),"Birthplace, Population Data Source"
0,Devin McCourty,#32,S/FS,30,195,8,Nanuet,New York,"Nanuet, New York",Rutgers,...,0400000US36,41.088707,-74.013473,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/N...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
1,Danny Amendola,#80,PR/WR/KR,32,190,9,The Woodlands,Texas,"The Woodlands, Texas",Texas Tech,...,0400000US48,30.173419,-95.504686,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/T...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
2,Johnson Bademosi,#29,CB/SPTM/RCB,27,206,6,Silver Spring,Maryland,"Silver Spring, Maryland",Stanford,...,0400000US24,38.990666,-77.026088,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/S...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
3,Chris Hogan,#15,WR,29,210,5,Wyckoff,New Jersey,"Wyckoff, New Jersey",Monmouth,...,0400000US34,41.009542,-74.172922,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/W...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."
4,James Develin,#46,RB/FB,29,255,5,Gilbertsville,Pennsylvania,"Gilbertsville, Pennsylvania",Brown,...,0400000US42,40.320097,-75.610184,1,1,https://factfinder.census.gov/bkmk/cf/1.0/en/p...,https://www.census.gov/quickfacts/fact/table/G...,https://factfinder.census.gov/bkmk/cf/1.0/en/s...,"U.S. Census Bureau, 2017 Annual Estimates of t...","U.S. Census Bureau, 2012-2016 American Communi..."

In [9]:
df_game.columns

Index(['Player Name', 'Player Jersey Number', 'Player Position', 'Player Age',
       'Player Weight (lbs.)', 'Years Played',
       'Player Birthplace (city, town, etc.)', 'Player Birth State',
       'Player Birthplace (Combo)', 'Player College', 'Player Team',
       'Conference',
       '2016 Population Estimates (except where otherwise noted)',
       'State GEO ID', 'Full GEOID', 'Latitude (player birthplace)',
       'Longitude (player birthplace)', 'Number from City',
       'Number of Records',
       'American FactFinder Link for more Census data points',
       'Quickfacts Link', 'State Data Link', 'Source (Population States 2017)',
       'Birthplace, Population Data Source'],
      dtype='object')

In [10]:
df_game = df_game.drop(['Number from City','Number of Records',
       'American FactFinder Link for more Census data points',
       'Quickfacts Link', 'State Data Link', 'Source (Population States 2017)',
       'Birthplace, Population Data Source' ], axis =1)

In [14]:
df_game = df_game.drop(['Player Birthplace (Combo)'], axis=1)

In [13]:
df_game

,Player Name,Player Jersey Number,Player Position,Player Age,Player Weight (lbs.),Years Played,"Player Birthplace (city, town, etc.)",Player Birth State,Player Birthplace (Combo),Player College,Player Team,Conference,State GEO ID,Full GEOID,Latitude (player birthplace),Longitude (player birthplace)
0,Devin McCourty,#32,S/FS,30,195,8,Nanuet,New York,"Nanuet, New York",Rutgers,New England,AFC,36,0400000US36,41.088707,-74.013473
1,Danny Amendola,#80,PR/WR/KR,32,190,9,The Woodlands,Texas,"The Woodlands, Texas",Texas Tech,New England,AFC,48,0400000US48,30.173419,-95.504686
2,Johnson Bademosi,#29,CB/SPTM/RCB,27,206,6,Silver Spring,Maryland,"Silver Spring, Maryland",Stanford,New England,AFC,24,0400000US24,38.990666,-77.026088
3,Chris Hogan,#15,WR,29,210,5,Wyckoff,New Jersey,"Wyckoff, New Jersey",Monmouth,New England,AFC,34,0400000US34,41.009542,-74.172922
4,James Develin,#46,RB/FB,29,255,5,Gilbertsville,Pennsylvania,"Gilbertsville, Pennsylvania",Brown,New England,AFC,42,0400000US42,40.320097,-75.610184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,Nick Foles,#9,QB,28,243,6,Austin,Texas,"Austin, Texas",Arizona,Philadelphia,NFC,48,0400000US48,30.271129,-97.743699
114,Will Beatty,#66,T/LOT,32,319,9,York,Pennsylvania,"York, Pennsylvania",Connecticut,Philadelphia,NFC,42,0400000US42,39.962398,-76.727392
115,Donnie Jones,#8,P/HLD,37,221,14,Baton Rouge,Louisiana,"Baton Rouge, Louisiana",LSU,Philadelphia,NFC,22,0400000US22,30.450746,-91.154551
116,Kamu Grugier-Hill,#54,LB/SPTM/RLB,23,220,2,Honolulu,Hawaii,"Honolulu, Hawaii",Eastern Illinois,Philadelphia,NFC,15,0400000US15,21.304547,-157.855676
117,Isaac Seumalo,#73,G/ROG,24,303,2,Honolulu,Hawaii,"Honolulu, Hawaii",Oregon State,Philadelphia,NFC,15,0400000US15,21.304547,-157.855676

In [15]:
df_game.columns

Index(['Player Name', 'Player Jersey Number', 'Player Position', 'Player Age',
       'Player Weight (lbs.)', 'Years Played',
       'Player Birthplace (city, town, etc.)', 'Player Birth State',
       'Player College', 'Player Team', 'Conference', 'State GEO ID',
       'Full GEOID', 'Latitude (player birthplace)',
       'Longitude (player birthplace)'],
      dtype='object')

In [16]:
df_game.corr()

,Player Age,Player Weight (lbs.),State GEO ID,Latitude (player birthplace),Longitude (player birthplace)
Player Age,1.000000,-0.016997,0.027805,0.085980,0.083444
Player Weight (lbs.),-0.016997,1.000000,0.163214,-0.033874,-0.136517
State GEO ID,0.027805,0.163214,1.000000,0.005716,0.251143
Latitude (player birthplace),0.085980,-0.033874,0.005716,1.000000,0.383300
Longitude (player birthplace),0.083444,-0.136517,0.251143,0.383300,1.000000

In [17]:
## no corelation found within the dataset

# FILE #2

In [18]:
df_game_loc = pd.read_excel(r"C:\Users\Acer\Desktop\uscensusbureau-big-game-census-data-visualization\All states Census 2017 Population Estimates.xlsx")

In [19]:
df_game_loc

,GEOID,GEOID2,Geography Name,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017
0,0400000US01,1,Alabama,4779736,4780135,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
1,0400000US02,2,Alaska,710231,710249,714015,722259,730825,736760,736759,737979,741522,739795
2,0400000US04,4,Arizona,6392017,6392309,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270
3,0400000US05,5,Arkansas,2915918,2916031,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279
4,0400000US06,6,California,37253956,37254518,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653
5,0400000US08,8,Colorado,5029196,5029325,5048029,5116411,5186330,5262556,5342311,5440445,5530105,5607154
6,0400000US09,9,Connecticut,3574097,3574114,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184
7,0400000US10,10,Delaware,897934,897936,899712,907884,916868,925114,934805,944107,952698,961939
8,0400000US11,11,District of Columbia,601723,601766,605040,620336,635630,650114,660797,672736,684336,693972
9,0400000US12,12,Florida,18801310,18804594,18846461,19097369,19341327,19584927,19897747,20268567,20656589,20984400
10,0400000US13,13,Georgia,9687653,9688690,9712696,9810595,9911171,9981773,10083850,10199533,10313620,10429379
11,0400000US15,15,Hawaii,1360301,1360301,1363817,1378323,1392772,1408038,1417710,1426320,1428683,1427538
12,0400000US16,16,Idaho,1567582,1567650,1570912,1583180,1594673,1610187,1630391,1649324,1680026,1716943
13,0400000US17,17,Illinois,12830632,12831565,12841196,12862298,12878494,12890403,12882438,12862051,12835726,12802023
14,0400000US18,18,Indiana,6483802,6484125,6490029,6515358,6535665,6567484,6593182,6610596,6634007,6666818
15,0400000US19,19,Iowa,3046355,3046869,3050223,3063690,3074386,3089876,3105563,3118473,3130869,3145711
16,0400000US20,20,Kansas,2853118,2853130,2858403,2868756,2885316,2892900,2899553,2905789,2907731,2913123
17,0400000US21,21,Kentucky,4339367,4339340,4347948,4368505,4383673,4399121,4410415,4422057,4436113,4454189
18,0400000US22,22,Louisiana,4533372,4533478,4544871,4574388,4602681,4626795,4648797,4671211,4686157,4684333
19,0400000US23,23,Maine,1328361,1328362,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907
20,0400000US24,24,Maryland,5773552,5773807,5788099,5843115,5891680,5932654,5970245,6000561,6024752,6052177
21,0400000US25,25,Massachusetts,6547629,6547808,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819
22,0400000US26,26,Michigan,9883640,9884129,9876731,9876199,9886610,9899219,9914675,9918170,9933445,9962311
23,0400000US27,27,Minnesota,5303925,5303924,5310711,5345967,5377695,5416074,5452649,5483238,5525050,5576606
24,0400000US28,28,Mississippi,2967297,2968103,2970437,2977452,2982963,2987721,2988578,2985297,2985415,2984100
25,0400000US29,29,Missouri,5988927,5988925,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532
26,0400000US30,30,Montana,989415,989414,990507,996866,1003522,1011921,1019931,1028317,1038656,1050493
27,0400000US31,31,Nebraska,1826341,1826327,1829956,1841641,1854862,1867414,1880920,1893564,1907603,1920076
28,0400000US32,32,Nevada,2700551,2700691,2702797,2718170,2752410,2786547,2831730,2883057,2939254,2998039
29,0400000US33,33,New Hampshire,1316470,1316460,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795
30,0400000US34,34,New Jersey,8791894,8791953,8803708,8844694,8882095,8913735,8943010,8960001,8978416,9005644
31,0400000US35,35,New Mexico,2059179,2059207,2064607,2077744,2083590,2085161,2083207,2082264,2085432,2088070
32,0400000US36,36,New York,19378102,19378110,19405185,19526372,19625409,19712514,19773580,19819347,19836286,19849399
33,0400000US37,37,North Carolina,9535483,9535721,9574247,9662940,9755299,9849812,9941160,10041769,10156689,10273419
34,0400000US38,38,North Dakota,672591,672585,674518,684830,701380,722908,738658,754859,755548,755393
35,0400000US39,39,Ohio,11536504,11536730,11539282,11543332,11546969,11567845,11593741,11606027,11622554,11658609
36,0400000US40,40,Oklahoma,3751351,3751598,3759529,3785232,3815298,3849840,3875008,3904353,3921207,3930864
37,0400000US41,41,Oregon,3831074,3831072,3837073,3865845,3893920,3919664,3960673,4016537,4085989,4142776
38,0400000US42,42,Pennsylvania,12702379,12702857,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537
39,0400000US44,44,Rhode Island,1052567,1052945,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639
40,0400000US45,45,South Carolina,4625364,4625381,4635834,4672744,4719009,4765862,4824758,4892423,4959822,5024369
41,0400000US46,46,South Dakota,814180,814197,816227,823338,832576,842513,849455,854036,861542,869666
42,0400000US47,47,Tennessee,6346105,6346295,6355882,6396281,6450632,6490795,6540007,6590726,6649404,6715984
43,0400000US48,48,Texas,25145561,25146100,25241648,25644424,26078327,26479279,26954436,27454880,27904862,28304596
44,0400000US49,49,Utah,2763885,2763889,2775260,2815430,2854222,2899961,2938671,2984917,3044321,3101833
45,0400000US50,50,Vermont,625741,625741,625842,626210,625606,626044,625665,624455,623354,623657
46,0400000US51,51,Virginia,8001024,8001043,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020
47,0400000US53,53,Washington,6724540,6724545,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743
48,0400000US54,54,West Virginia,1852994,1853006,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857
49,0400000US55,55,Wisconsin,5686986,5687288,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483
50,0400000US56,56,Wyoming,563626,563767,564376,567602,576608,582341,583334,586102,584910,579315
51,0400000US72,72,Puerto Rico,3725789,3726157,3721525,3678732,3634488,3593077,3534874,3473177,3406520,3337177

In [20]:
df_game_loc.columns

Index(['GEOID', 'GEOID2', 'Geography Name', 'April 1, 2010 - Census',
       'April 1, 2010 - Estimates Base',
       'Population Estimate (as of July 1) - 2010',
       'Population Estimate (as of July 1) - 2011',
       'Population Estimate (as of July 1) - 2012',
       'Population Estimate (as of July 1) - 2013',
       'Population Estimate (as of July 1) - 2014',
       'Population Estimate (as of July 1) - 2015',
       'Population Estimate (as of July 1) - 2016',
       'Population Estimate (as of July 1) - 2017'],
      dtype='object')

In [21]:
df_game_loc = df_game_loc.drop(['April 1, 2010 - Census',
       'April 1, 2010 - Estimates Base',
       'Population Estimate (as of July 1) - 2010',
       'Population Estimate (as of July 1) - 2011',
       'Population Estimate (as of July 1) - 2012',
       'Population Estimate (as of July 1) - 2013',
       'Population Estimate (as of July 1) - 2014',
       'Population Estimate (as of July 1) - 2015',
       'Population Estimate (as of July 1) - 2016'], axis=1)

In [23]:
df_game_loc

,GEOID,GEOID2,Geography Name,Population Estimate (as of July 1) - 2017
0,0400000US01,1,Alabama,4874747
1,0400000US02,2,Alaska,739795
2,0400000US04,4,Arizona,7016270
3,0400000US05,5,Arkansas,3004279
4,0400000US06,6,California,39536653
5,0400000US08,8,Colorado,5607154
6,0400000US09,9,Connecticut,3588184
7,0400000US10,10,Delaware,961939
8,0400000US11,11,District of Columbia,693972
9,0400000US12,12,Florida,20984400
10,0400000US13,13,Georgia,10429379
11,0400000US15,15,Hawaii,1427538
12,0400000US16,16,Idaho,1716943
13,0400000US17,17,Illinois,12802023
14,0400000US18,18,Indiana,6666818
15,0400000US19,19,Iowa,3145711
16,0400000US20,20,Kansas,2913123
17,0400000US21,21,Kentucky,4454189
18,0400000US22,22,Louisiana,4684333
19,0400000US23,23,Maine,1335907
20,0400000US24,24,Maryland,6052177
21,0400000US25,25,Massachusetts,6859819
22,0400000US26,26,Michigan,9962311
23,0400000US27,27,Minnesota,5576606
24,0400000US28,28,Mississippi,2984100
25,0400000US29,29,Missouri,6113532
26,0400000US30,30,Montana,1050493
27,0400000US31,31,Nebraska,1920076
28,0400000US32,32,Nevada,2998039
29,0400000US33,33,New Hampshire,1342795
30,0400000US34,34,New Jersey,9005644
31,0400000US35,35,New Mexico,2088070
32,0400000US36,36,New York,19849399
33,0400000US37,37,North Carolina,10273419
34,0400000US38,38,North Dakota,755393
35,0400000US39,39,Ohio,11658609
36,0400000US40,40,Oklahoma,3930864
37,0400000US41,41,Oregon,4142776
38,0400000US42,42,Pennsylvania,12805537
39,0400000US44,44,Rhode Island,1059639
40,0400000US45,45,South Carolina,5024369
41,0400000US46,46,South Dakota,869666
42,0400000US47,47,Tennessee,6715984
43,0400000US48,48,Texas,28304596
44,0400000US49,49,Utah,3101833
45,0400000US50,50,Vermont,623657
46,0400000US51,51,Virginia,8470020
47,0400000US53,53,Washington,7405743
48,0400000US54,54,West Virginia,1815857
49,0400000US55,55,Wisconsin,5795483
50,0400000US56,56,Wyoming,579315
51,0400000US72,72,Puerto Rico,3337177

In [24]:
df_game.isnull().sum()

Player Name                             0
Player Jersey Number                    0
Player Position                         0
Player Age                              0
Player Weight (lbs.)                    0
Years Played                            0
Player Birthplace (city, town, etc.)    0
Player Birth State                      0
Player College                          0
Player Team                             0
Conference                              0
State GEO ID                            0
Full GEOID                              0
Latitude (player birthplace)            0
Longitude (player birthplace)           0
dtype: int64

In [ ]:
df=df.dropna(how='all')

##drop all the rows which have null values

In [25]:
df_game.to_csv("df_game_cleaned.csv", index=False)

In [26]:
df_game_loc.to_csv("df_game_loc_cleaned.csv", index= False)